*{
  box-sizing: border-box;
}

.nav-container{
  display: flex;
  justify-content: space-around;
  margin:30px;
  color:#04AA6D ;

}
.nav-icon{
  font-size: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

.add-contact-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

.button{
  width: 100%;
  background-color: green;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-element{
  padding: 4px 10px 4px;
}
.super-container{
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
}

.table-container{
 display: flex;
flex-direction: column;
width: 500px;
/* border: 1px solid red; */
justify-content: center;

}
#table {
  margin-top: 30px;
  border-collapse: collapse;
}
#table td,#table th{
  border:1px solid #ddd;
  padding:8px;
}

#table th{
  /* padding-top: 17px;
  padding-bottom: 17px; Just checking*/
  padding: 17px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover{background-color: #ddd;}

.delete-button{
  color: red;
}



.confirm-container{
  position:fixed;
  border-radius: 12px;
  top: 15%;
  left:20%;
  right: 20%;
  height: 40%;
  /* border: 1px dashed blue; */

}
.confirm-container{
background-color: #ffffff;
padding: 100px;;
/* border: 1px solid red; */
}

@media only screen and (max-width:600px) {
    .confirm-container{
      background-color: white;

    }
}





.confirm-text{
  border: 1px solid grey;
  padding: 15px 0px 12px;
  background-color: white;
  color: grey;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
}
.confirm-button{
  border: 2px solid none;
  display: flex;
  justify-content: center;
  
}
.no-button{
  width: 100%;
   padding: 10px;
   border-bottom-left-radius: 12px;
   border-style: none;
   border: 1px solid grey;
  color: gray;


   
}
.yes-button{
  width: 100%;
  padding: 10px;
  border-bottom-right-radius: 12px;
  border-style: none;
  color: gray;
  border: 1px solid grey;
  

}
.no-button:hover{
  color:white;
  background-color: red;
}
.yes-button:hover{
  color:white;
  background-color: green;
}
.home-search-container{
  /* border: 2px solid blue; */
  padding: 0px 20rem 0px;
}















.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
